apiVersion: v1
kind: ConfigMap
metadata:
  name: istio-kubeconfig
  namespace: {{.Release.Namespace}}
data:
  kubeconfig.yaml: |
    apiVersion: v1
    clusters:
    - cluster:
    #    server: http://apiserver.{{.Release.Namespace}}:18090
        server: https://apiserver.{{.Release.Namespace}}:6443
        insecure-skip-tls-verify: true
      name: load
    contexts:
    - context:
        cluster: load
        user: fake
      name: load
    current-context: load
    kind: Config
    preferences: {}
    users:
    - name: fake
