apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{.ServiceAccount | quote}}
  namespace: {{.Namespace | quote}}
  annotations:
    {{- toJsonMap (omit .InfrastructureAnnotations "kubectl.kubernetes.io/last-applied-configuration" "gateway.istio.io/name-override" "gateway.istio.io/service-account" "gateway.istio.io/controller-version") | nindent 4 }}
  labels:
    {{- toJsonMap
      .InfrastructureLabels
      (strdict
        "gateway.networking.k8s.io/gateway-name" .Name
      ) | nindent 4 }}
  {{- if ge .KubeVersion 128 }}
  # Safe since 1.28: https://github.com/kubernetes/kubernetes/pull/117412
  ownerReferences:
  - apiVersion: gateway.networking.k8s.io/v1beta1
    kind: Gateway
    name: "{{.Name}}"
    uid: "{{.UID}}"
  {{- end }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{.DeploymentName | quote}}
  namespace: {{.Namespace | quote}}
  annotations:
    {{- toJsonMap (omit .InfrastructureAnnotations "kubectl.kubernetes.io/last-applied-configuration" "gateway.istio.io/name-override" "gateway.istio.io/service-account" "gateway.istio.io/controller-version") | nindent 4 }}
  labels:
    {{- toJsonMap
      .InfrastructureLabels
      (strdict
        "gateway.networking.k8s.io/gateway-name" .Name
      ) | nindent 4 }}
  ownerReferences:
  - apiVersion: gateway.networking.k8s.io/v1beta1
    kind: Gateway
    name: "{{.Name}}"
    uid: "{{.UID}}"
spec:
  selector:
    matchLabels:
      "{{.GatewayNameLabel}}": "{{.Name}}"
  template:
    metadata:
      annotations:
        {{- toJsonMap
          (omit .InfrastructureAnnotations "kubectl.kubernetes.io/last-applied-configuration" "gateway.istio.io/name-override" "gateway.istio.io/service-account" "gateway.istio.io/controller-version")
          (strdict "istio.io/rev" (.Revision | default "default"))
          (strdict
            "prometheus.io/path" "/stats/prometheus"
            "prometheus.io/port" "15020"
            "prometheus.io/scrape" "true"
          ) | nindent 8 }}
      labels:
        {{- toJsonMap
          (strdict
            "sidecar.istio.io/inject" "false"
            "istio.io/dataplane-mode" "none"
            "service.istio.io/canonical-name" .DeploymentName
            "service.istio.io/canonical-revision" "latest"
           )
          .InfrastructureLabels
          (strdict
            "gateway.networking.k8s.io/gateway-name" .Name
            "gateway.istio.io/managed" "istio.io-eastwest-controller"
          ) | nindent 8}}
    spec:
      securityContext:
      {{- if .Values.gateways.securityContext }}
        {{- toYaml .Values.gateways.securityContext | nindent 8 }}
      {{- else }}
      {{- if .Values.gateways.seccompProfile }}
        seccompProfile:
      {{- toYaml .Values.gateways.seccompProfile | nindent 10 }}
      {{- end }}
      {{- end }}
      serviceAccountName: {{.ServiceAccount | quote}}
      containers:
        - name: istio-proxy
          {{- if contains "/" (annotation .ObjectMeta `sidecar.istio.io/proxyImage` .Values.global.proxy.image) }}
          image: "{{ annotation .ObjectMeta `sidecar.istio.io/proxyImage` .Values.global.proxy.image | replace "proxyv2" "ztunnel" }}"
          {{- else }}
          image: "{{ .ProxyImage | replace "proxyv2" "ztunnel" }}"
          {{- end }}
          {{- if .Values.global.proxy.resources }}
          resources:
          {{- toYaml .Values.global.proxy.resources | nindent 12 }}
          {{- end }}
          {{with .Values.global.imagePullPolicy }}imagePullPolicy: "{{.}}"{{end}}
          securityContext:
            capabilities:
              drop:
                - ALL
            allowPrivilegeEscalation: false
            privileged: false
            readOnlyRootFilesystem: true
            runAsUser: {{ .ProxyUID | default "1337" }}
            runAsGroup: {{ .ProxyGID | default "1337" }}
            runAsNonRoot: true
          ports:
            - containerPort: 15021
              name: status-port
            - containerPort: 15008
              name: hbone
          args:
            - proxy
            - ztunnel
          env:
            - name: SKIP_VALIDATE_TRUST_DOMAIN
              value: {{ env "PILOT_SKIP_VALIDATE_TRUST_DOMAIN" "false" | quote }}
            - name: ISTIO_META_CLUSTER_ID
              value: "{{ valueOrDefault .Values.global.multiCluster.clusterName `Kubernetes` }}"
            {{- with valueOrDefault (index .InfrastructureLabels `topology.istio.io/network`) .Values.global.network }}
            - name: ISTIO_META_NETWORK
              value: "{{ . }}"
            - name: NETWORK
              value: "{{ . }}"
            - name: ISTIO_META_REQUESTED_NETWORK_VIEW
              value: "{{ . }}"
            {{- end }}
            - name: CA_ADDRESS
            {{- if .Values.global.caAddress }}
              value: {{ .Values.global.caAddress }}
            {{- else }}
              value: istiod{{- if not (eq .Values.revision "") }}-{{ .Values.revision }}{{- end }}.{{ .Values.global.istioNamespace }}.svc:15012
            {{- end }}
            - name: XDS_ADDRESS
              value: "{{ .ProxyConfig.DiscoveryAddress | default "istiod.istio-system.svc:15012" }}"
            - name: PROXY_MODE
              value: "gateway"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: INSTANCE_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: SERVICE_ACCOUNT
              valueFrom:
                fieldRef:
                  fieldPath: spec.serviceAccountName
            - name: "PROXY_WORKLOAD_INFO"
              value: "$(POD_NAMESPACE)/$(POD_NAME)/$(SERVICE_ACCOUNT)"
          startupProbe:
            failureThreshold: 30
            httpGet:
              port: 15021
              path: /healthz/ready
              scheme: HTTP
            initialDelaySeconds: 1
            periodSeconds: 1
            successThreshold: 1
            timeoutSeconds: 1
          readinessProbe:
            failureThreshold: 4
            httpGet:
              port: 15021
              path: /healthz/ready
              scheme: HTTP
            initialDelaySeconds: 0
            periodSeconds: 15
            successThreshold: 1
            timeoutSeconds: 1
          volumeMounts:
            - mountPath: /var/run/secrets/istio
              name: istiod-ca-cert
            - mountPath: /var/run/secrets/tokens
              name: istio-token
      volumes:
        - name: istio-token
          projected:
            sources:
              - serviceAccountToken:
                  audience: istio-ca
                  expirationSeconds: 43200
                  path: istio-token
        - configMap:
            name: istio-ca-root-cert
          name: istiod-ca-cert
      {{- if .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- range .Values.global.imagePullSecrets }}
        - name: {{ . }}
        {{- end }}
      {{- end }}
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    {{ toJsonMap (omit .InfrastructureAnnotations "kubectl.kubernetes.io/last-applied-configuration" "gateway.istio.io/name-override" "gateway.istio.io/service-account" "gateway.istio.io/controller-version") | nindent 4 }}
  labels:
    {{- toJsonMap
        .InfrastructureLabels
        (strdict
          "gateway.networking.k8s.io/gateway-name" .Name
          "networking.istio.io/hboneGatewayPort" "15008"
          "topology.istio.io/network" (valueOrDefault (index .InfrastructureLabels `topology.istio.io/network`) .Values.global.network)
      ) | nindent 4 }}
  name: {{.DeploymentName | quote}}
  namespace: {{.Namespace | quote}}
  ownerReferences:
    - apiVersion: gateway.networking.k8s.io/v1beta1
      kind: Gateway
      name: "{{.Name}}"
      uid: "{{.UID}}"
spec:
  ipFamilyPolicy: PreferDualStack
  ports:
    - name: status-port
      port: 15021
    - name: tls-hbone
      port: 15008
    - name: tls-xds
      port: 15012
  selector:
    "{{.GatewayNameLabel}}": "{{.Name}}"
  {{- if and (.Spec.Addresses) (eq .ServiceType "LoadBalancer") }}
  loadBalancerIP: {{ (index .Spec.Addresses 0).Value | quote}}
  {{- end }}
  type: {{ .ServiceType | quote }}
---
